/* Landing page style */

.lp-main {
	margin: 10.4rem auto 0;
	width: 90%;
}

.hero-img-container {
	box-shadow: 2px 2px 10px var(--lynx-grey) -2px -2px 10px var(--lynx-grey);
	margin: 3.2rem auto 0;
	height: 30vh;
	position: relative;
}

.hero-img {
	display: block;
	height: 100%;
}

.lp-carousel {
	display: inline-block;
	width: 100%;
	height: 65vh;
}

.lp-carousel img {
	display: block;
	height: 100%;
}

.lp-text-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2.4rem 0;
}

.lp-text-container > a {
	color: var(--info-color);
	font-size: var(--text-md);
	text-decoration: underline;
}

.product-list {
	margin: 2.4rem 0;
	display: grid;
	grid-auto-flow: row;
	grid-gap: 3.2rem;
	grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
	justify-items: center;
}

.product-list .card {
	max-width: 40rem;
	width: 100%;
}

.overlay-icon i {
	font-size: var(--text-md);
	transform: translateY(1px);
}

.product-list .card-discount {
	color: var(--brand-color);
}

.product-list .action-link {
	background-color: var(--white);
	color: var(--brand-color);
	border: 2px solid var(--brand-color);
	transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.product-list .action-link:hover {
	background-color: var(--brand-color);
	color: var(--white);
	transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.product-list .product-card-badge,
.product-list .product-card-badge::before {
	background-color: var(--primary-color);
}

.lp-cta {
	text-align: center;
	margin: 3.2rem auto;
}

.lp-cta .btn {
	background-color: var(--brand-color);
	color: var(--white);
	border-radius: 4rem;
	padding: 1.6rem 3.2rem;
}

.lp-footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--black);
	color: var(--white);
	padding: 7.2rem 2rem;
}

.lp-footer-text {
	flex-shrink: 2;
}

.lp-footer-text a {
	color: var(--info-color);
	text-decoration: underline;
}

.footer-nav-links {
	flex-shrink: 0;
	list-style: none;
	font-size: var(--text-md);
	padding: 0 1.6rem;
}

.footer-nav-links li {
	margin: 1.2rem 0;
}

.footer-nav-links a {
	color: var(--white);
}

@media only screen and (min-width: 768px) {
	.lp-footer {
		padding: 7.2rem 4rem;
	}

	.product-list {
		justify-items: normal;
	}
}

@media only screen and (min-width: 1024px) {
	.lp-main {
		width: 80%;
	}

	.lp-footer {
		justify-content: center;
	}

	.lp-footer > * {
		padding: 0 2.4rem;
	}
}
