/* Landing page style */

.lp-main {
	margin: 10.4rem auto 0;
	width: 90%;
}

.hero-img-container {
	box-shadow: 2px 2px 10px var(--lynx-grey) -2px -2px 10px var(--lynx-grey);
	margin: 3.2rem auto 0;
	height: 30vh;
	position: relative;
}

.hero-img {
	height: 100%;
	object-fit: cover;
	object-position: left 48% top 0;
	width: 100%;
}

.lp-carousel-container {
	width: 100%;
	height: 65vh;
	position: relative;
}

.lp-carousel-container img {
	display: block;
	height: 100%;
}

.lp-carousel-container > i {
	color: var(--white);
	cursor: pointer;
	font-size: var(--text-lg);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.lp-carousel-container > i:active {
	opacity: 0.7;
}

.carousel-left {
	left: 1.6rem;
}

.carousel-right {
	right: 1.6rem;
}

.lp-text-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2.4rem 0;
}

.lp-text-container > a {
	color: var(--info-color);
	font-size: var(--text-md);
	text-decoration: underline;
}

.lp-category > h3 {
	margin: 2.4rem 0;
	text-align: center;
}

.category-list {
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
}

.category-item {
	display: block;
	margin: 0 1.6rem 1.6rem;
}

.category-item picture,
.category-item img {
	display: block;
	height: 24rem;
	width: 24rem;
	object-fit: cover;
}

.category-item > span {
	display: block;
	font-size: var(--text-md);
	margin-top: 1.6rem;
	text-align: center;
	width: 100%;
}

.lp-cta {
	text-align: center;
	margin: 3.2rem auto;
}

.lp-cta .btn {
	background-color: var(--brand-color);
	color: var(--white);
	border-radius: 4rem;
	padding: 1.6rem 3.2rem;
}

.lp-cta a {
	color: inherit;
}

.lp-footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--black);
	color: var(--white);
	padding: 7.2rem 2rem;
}

.lp-footer-text {
	flex-shrink: 2;
}

.lp-footer-text a {
	color: var(--info-color);
	text-decoration: underline;
}

.footer-nav-links {
	flex-shrink: 0;
	list-style: none;
	font-size: var(--text-md);
	padding: 0 1.6rem;
	text-align: right;
}

.footer-nav-links li {
	margin: 1.2rem 0;
}

.footer-nav-links a {
	color: var(--white);
}

@media only screen and (min-width: 768px) {
	.lp-footer {
		padding: 7.2rem 4rem;
	}

	.footer-nav-links {
		text-align: start;
	}
}

@media only screen and (min-width: 1280px) {
	.category-item {
		margin: 0 2.4rem 1.6rem;
	}

	.category-item picture,
	.category-item img {
		height: 32rem;
		width: 32rem;
	}

	.lp-footer {
		justify-content: center;
	}

	.lp-footer > * {
		padding: 0 2.4rem;
	}
}
