.pl-pg {
	display: flex;
	margin: 9.6rem 1.6rem 7.2rem;
}

.pl-aside {
	height: fit-content;
	position: sticky;
	top: 9.6rem;
	width: 22rem;
}

.aside-heading {
	display: flex;
	justify-content: space-between;
}

.aside-heading button {
	color: var(--info-color);
	text-decoration: underline;
}

.aside-price {
	margin: 2.4rem 0;
}

.aside-price > label,
.aside-genre > span,
.aside-rating > span {
	display: block;
	font-size: 1.6rem;
	margin-bottom: 0.8rem;
}

.aside-price > input {
	width: 90%;
	margin: auto;
}

.checkbox-container,
.radio-container {
	margin: 0.8rem 0;
}

.aside-rating > span {
	margin-top: 2.4rem;
}

.pl-list {
	flex-grow: 1;
}

.product-list {
	margin-left: 3.2rem;
	display: grid;
	grid-gap: 2.4rem;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 30rem));
	justify-items: center;
	align-items: baseline;
}

.pl-breadcrumb {
	grid-column: 1/-1;
	font-size: var(--text-md);
	justify-self: flex-start;
}

.pl-breadcrumb .current-pg {
	color: var(--info-color);
}

.card {
	box-shadow: none;
	border-radius: 0;
	height: 53rem;
	width: 100%;
}

.card .card-img {
	border-radius: 0;
}

.card .content {
	height: calc(100% - 30rem);
	display: flex;
	flex-direction: column;
}

.card-discount {
	color: var(--brand-color);
}

.card p {
	margin-top: auto;
}

.card .action-link {
	background-color: var(--white);
	color: var(--brand-color);
	border: 2px solid var(--brand-color);
	transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.product-list .action-link:hover {
	background-color: var(--brand-color);
	color: var(--white);
	transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.product-list .product-card-badge,
.product-list .product-card-badge::before {
	background-color: var(--primary-color);
}

.filter-footer {
	display: none;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.filter-footer button {
	border-top: 1px solid var(--grey);
	color: var(--black);
	font-size: var(--text-md);
	background-color: var(--lynx-white);
	width: 50%;
	padding: 1.6rem 0;
}

.filter-footer button:first-of-type {
	border-right: 1px solid var(--grey);
}

@media only screen and (max-width: 980px) {
	.pl-aside {
		display: none;
	}

	.product-list {
		margin: 0;
		justify-content: center;
	}

	.filter-footer {
		display: flex;
	}
}

@media only screen and (min-width: 1750px) {
	.pl-pg {
		width: 90%;
		margin: 9.6rem auto 7.2rem;
	}
}
